<div class="bg-black opacity-70 w-full h-full absolute z-10"></div>
<div class="absolute w-full h-full z-10 flex px-2 py-6">
    <div class="rounded-xl overflow-hidden bg-white w-4xl m-auto max-w-3xl">
        <div class="flex items-center gap-1 p-4">
            <img src="/images/icon-task-star.svg" alt=""/>
            <h1 class="font-semibold text-lg">Comment task</h1>
            <img class="ml-auto cursor-pointer" src="/images/icon-close.svg" alt=""/>
        </div>
        <div class="border-t-2 border-t-gray-200 border-b-2 border-b-gray-200 p-4 flex flex-col gap-6">
            <div class="flex flex-col gap-6">
                <h1 class="font-bold text-lg">Lorem ipsum dolor sit amet.</h1>
                <div>
                    <h3 class="font-bold mb-2 text-sm">Description</h3>
                    <p class="text-justify text-base text-[#374151]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec finibus nisl. Cras ut
                        sem libero. Praesent dapibus egestas justo, vel efficitur leo bibendum sit amet. Cras volutpat
                        placerat purus vitae sagittis. Nam ornare orci sit amet eros vulputate laoreet. Praesent ac
                        tortor eget tellus posuere lacinia. Nunc vitae lorem volutpat, feugiat sem at, semper orci.
                    </p>
                </div>
            </div>
            <div class="bg-[#F3F4F6] rounded-xl p-5 max-h-[600px] overflow-y-scroll">
                <h1 class="font-bold mb-2">Comments</h1>
                <div class="flex gap-2">
                    <div class="w-full">
                        <input class="w-full border-1 bg-white border-gray-300 p-3 rounded-xl"
                               placeholder="Add a new comment" type="text">
                        <p class="text-red-500 text-sm pl-1 font-semibold">Paragraph for field error message</p>
                    </div>
                    <button
                        class="p-3 h-max font-semibold text-white bg-[#2A89EF] rounded-xl cursor-pointer active:translate-y-0.5 transition-transform duration-100 shadow-md shadow-blue-500/50">
                        Add
                    </button>
                </div>
                <div class="flex flex-col gap-4 border-b-1 border-b-[#D1D5DB] py-4">
                    <p class="text-[#374151] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit nibh, accumsan ac tempor
                        sed, placerat at nulla. Nunc volutpat sapien et porttitor condimentum. Sed interdum turpis
                        et est tincidunt volutpat. Integer placerat nibh eget metus mollis, et dignissim turpis
                        dictum. In faucibus sed diam a porttitor. Aliquam malesuada est quam, in feugiat quam
                        volutpat nec. Pellentesque tincidunt quam augue, eget cursus ipsum euismod vel. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="flex gap-4 text-xs font-normal">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer">Delete</button>
                    </div>
                </div>
                <div class="flex flex-col gap-4 border-b-1 border-b-gray-300 py-4">
                    <p class="text-[#374151] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit nibh, accumsan ac tempor
                        sed, placerat at nulla. Nunc volutpat sapien et porttitor condimentum. Sed interdum turpis
                        et est tincidunt volutpat. Integer placerat nibh eget metus mollis, et dignissim turpis
                        dictum. In faucibus sed diam a porttitor. Aliquam malesuada est quam, in feugiat quam
                        volutpat nec. Pellentesque tincidunt quam augue, eget cursus ipsum euismod vel. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="flex gap-4 text-sm">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer">Delete</button>
                    </div>
                </div>
                <div class="flex flex-col gap-4 border-b-1 border-b-gray-300 py-4">
                    <p class="text-[#374151] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit nibh, accumsan ac tempor
                        sed, placerat at nulla. Nunc volutpat sapien et porttitor condimentum. Sed interdum turpis
                        et est tincidunt volutpat. Integer placerat nibh eget metus mollis, et dignissim turpis
                        dictum. In faucibus sed diam a porttitor. Aliquam malesuada est quam, in feugiat quam
                        volutpat nec. Pellentesque tincidunt quam augue, eget cursus ipsum euismod vel. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="flex gap-4 text-sm">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer">Delete</button>
                    </div>
                </div>
                <div class="flex flex-col gap-4 border-b-1 border-b-gray-300 py-4">
                    <p class="text-[#374151] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit nibh, accumsan ac tempor
                        sed, placerat at nulla. Nunc volutpat sapien et porttitor condimentum. Sed interdum turpis
                        et est tincidunt volutpat. Integer placerat nibh eget metus mollis, et dignissim turpis
                        dictum. In faucibus sed diam a porttitor. Aliquam malesuada est quam, in feugiat quam
                        volutpat nec. Pellentesque tincidunt quam augue, eget cursus ipsum euismod vel. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="flex gap-4 text-sm">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer">Delete</button>
                    </div>
                </div>
                <div class="flex flex-col gap-4 border-b-1 border-b-gray-300 py-4">
                    <p class="text-[#374151] text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit nibh, accumsan ac tempor
                        sed, placerat at nulla. Nunc volutpat sapien et porttitor condimentum. Sed interdum turpis
                        et est tincidunt volutpat. Integer placerat nibh eget metus mollis, et dignissim turpis
                        dictum. In faucibus sed diam a porttitor. Aliquam malesuada est quam, in feugiat quam
                        volutpat nec. Pellentesque tincidunt quam augue, eget cursus ipsum euismod vel. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <div class="flex gap-4 text-sm">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
