<div
    class="bg-[#ECF4FE] rounded-2xl p-8 sm:flex sm:flex-row-reverse sm:justify-between sm:items-center flex gap-2 flex-col shadow">
    <img src="/images/icon-hand-coding.svg" alt=""/>
    <div class="flex flex-col gap-4">
        <div>
            <h1 class="font-bold text-2xl">Welcome Back, Jennie!</h1>
            <h3 class="font-medium opacity-80 text-[#374151]">Don't forget to update the tasks!</h3>
        </div>
        <div>
            <button
                class="cursor-pointer active:translate-y-0.5 duration-75 flex items-center gap-2 rounded-xl py-3 px-4 bg-[#2A89EF] text-white text-sm font-semibold text-center shadow-md shadow-blue-500/50">
                <img class="w-7" src="/images/icon-plus-circle.svg" alt=""/>
                Create a new task
            </button>
        </div>
    </div>
</div>
