<div class="rounded-xl overflow-hidden bg-white w-4xl m-auto max-w-3xl">
    <div class="flex items-center gap-1 p-4">
        <img src="/images/icon-task-star.svg" alt=""/>
        <h1 class="font-semibold text-lg">Comment task</h1>
        <img class="ml-auto cursor-pointer" src="/images/icon-close.svg" alt=""/>
    </div>
    <div class="border-t-2 border-t-gray-200 border-b-2 border-b-gray-200 p-4 flex flex-col gap-6">
        <div class="flex flex-col gap-6">
            <h1 class="font-bold text-lg">{{ _task.name }}</h1>
            <div>
                <h3 class="font-bold mb-2 text-sm">Description</h3>
                <p class="text-justify text-base text-[#374151]">{{ _task.description }}</p>
            </div>
        </div>
        <div class="bg-[#F3F4F6] rounded-xl p-5 max-h-[600px] overflow-y-scroll">
            <h1 class="font-bold mb-2">Comments</h1>
            <div class="flex gap-2">
                <div class="w-full">
                    <input class="w-full border-1 bg-white border-gray-300 p-3 rounded-xl"
                           placeholder="Add a new comment" type="text" [(ngModel)]="description">
                    @if (description.length < 5) {
                        <p class="text-red-500 text-sm pl-1 font-semibold">A minimum of 5 characters is required.</p>
                    }
                </div>
                <button
                    class="p-3 h-max font-semibold text-white bg-[#2A89EF] rounded-xl cursor-pointer
                    active:translate-y-0.5 transition-transform duration-100 shadow-md shadow-blue-500/50
                    disabled:bg-[#D7D8D8] disabled:cursor-default disabled:pointer-events-none disabled:shadow-none"
                    [disabled]="description.length < 5" (click)="addComment()">
                    Add
                </button>
            </div>
            <!-- Comments cardas -->
            @for (comment of _task.comments; track comment.id) {
                <div class="flex flex-col gap-4 border-b-1 border-b-[#D1D5DB] py-4">
                    <p class="text-[#374151] text-justify">{{ comment.description }}</p>
                    <div class="flex gap-4 text-xs font-normal">
                        <p class="text-[#9CA3AF]">Commented 3 hours ago</p>
                        <button type="button" class="underline underline-offset-2 cursor-pointer" (click)="deleteComment(comment.id)">Delete</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
