<div class="p-3 bg-[#FAFAFA] rounded-xl cursos-grap flex flex-col gap-3 cursor-grab">
    <div class="flex items-center justify-between border-b-2 border-b-gray-200">
        <p class="font-bold">{{ task.name }}</p>
        <img class="self-start cursor-pointer ml-auto" src="/images/icon-delete.svg" alt="" (click)="deleteTask()"/>
    </div>
    <p class="font-light text-sm text-justify">{{ task.description }}</p>
    <div class="flex items-center gap-1">
        <img src="/images/icon-comments.svg" alt=""/>
        <p class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer" (click)="openCommentTaskModal(task)">{{ task.comments.length }} Comments</p>
        <p class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto" (click)="openEditTaskModal()">Edit</p>
    </div>
</div>
